<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Cesta Inteligente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shops.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <header class="header">
            <div class="logo">
              <img src="{% static 'imgs/Logo.ico' %}">
            </div>
            <nav>
               <ul class="nav-links">
                    <li><a href="#">Compare y Ahorre</a></li>
                    <li><a href="{% url 'shops' %}">Retails</a></li>
                    <li><a href="#">About</a></li>
               </ul>            
            </nav>
            <a class="btn" href="#"><button>Contact</button></a>
        </header>
        <span class="background">
            <span class="centering">
                <section class="articles">
                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/ExitoLogo' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Éxito</h2>
                            <p>
                                El Grupo Éxito es una influyente cadena de tiendas minoristas 
                                en América Latina, ofreciendo una variedad completa de productos, 
                                desde alimentos hasta moda y tecnología, destacándose por calidad 
                                y accesibilidad.
                                <a href="https://www.exito.com/" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="{% static 'imgs/D1.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>D1</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
                                Praesent in mauris eu tortor porttitor accumsan. 
                                <a href="#" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <!-- more cards here  -->


                    
                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/Jumbo.png' %}"                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Jumbo</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                                <a href="#" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>

                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/Carulla.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Carulla</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                                <a href="#" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="{% static 'imgs/Makro.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Makro</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent in mauris eu tortor porttitor accumsan. 

                                <a href="#" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>          
                </section>
            </span>
        </span>
    </body>
</html>




