<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Cesta Inteligente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inicio.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/shops.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <body>
        <header class="header">
            <div class="logo">
              <img src="{% static 'imgs/Logo.ico' %}">
            </div>
            <nav>
                <ul></ul>
               <ul class="nav-links">
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    <li><a href="{% url 'dashboard' %}">Compare y Ahorre</a></li>
                    <li><a href="{% url 'shops' %}">Retails</a></li>
                    <li><a href="{% url 'feedback' %}">Feedback</a></li>
              </ul>     
          </ul>     
               </ul>            
            </nav>
        </header>
        <span class="background">
            <span class="centering">
                <section class="articles">
                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/ExitoLogo' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Éxito</h2>
                            <p>
                                El Grupo Éxito es una influyente cadena de tiendas minoristas 
                                en América Latina, ofreciendo una variedad completa de productos, 
                                desde alimentos hasta moda y tecnología, destacándose por calidad 
                                y accesibilidad.
                                <a href="https://www.exito.com/" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="{% static 'imgs/D1.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>D1</h2>
                            <p>
                                Tiendas D1 es una cadena de tiendas de descuento tipo hard discount en 
                                Colombia. D1, es la compañía con más puntos de venta en Colombia, alcanza 
                                2.000 tiendas, cubriendo el 87% del territorio, en 28 departamentos y 450 
                                municipios.
                                <a href="https://d1.com.co/" class="read-more" title="Read More">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <!-- more cards here  -->


                    
                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/Jumbo.png' %}"                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Jumbo</h2>
                            <p>
                                Jumbo es una cadena de hipermercados chilena, con presencia también en
                                Argentina y Colombia. Es propiedad del grupo Cencosud. Destaca como líder 
                                en el comercio minorista en América Latina. 
                                
                                <a href="https://www.tiendasjumbo.co/" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>

                    <article>
                        <figure>
                            <img
                                src="{% static 'imgs/Carulla.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Carulla</h2>
                            <p>
                                Carulla es una cadena de supermercados colombiana, fundada en 1905 por
                                Alejandro Carulla Vila. En 2013, Carulla contaba con 175 puntos de venta
                                en Colombia, de los cuales 167 son supermercados y 8 son tiendas de conveniencia.

                                <a href="https://www.carulla.com/" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>
                    <article>            
                        <figure>
                            <img
                                src="{% static 'imgs/Makro.png' %}"
                                alt="Preview"
                                title="Preview"
                            />
                        </figure>
                        <div class="article-preview">
                            <h2>Makro</h2>
                            <p>
                                Makro es una cadena de supermercados mayoristas de origen holandés,
                                fundada en 1968. En la actualidad Makro tiene abiertas más de 700 tiendas en 
                                tres continentes; esto lo convierte en la empresa de ventas al por 
                                mayor más grande del mundo y es el tercer grupo mundial en distribución
                                

                                <a href="https://www.makro.com.co/" class="read-more">
                                    Read more
                                </a>
                            </p>
                        </div>
                    </article>          
                </section>
            </span>
        </span>
    </body>
</html>




